
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

$playfair-display: 'Playfair Display', serif;
$open-sans: 'Open Sans', sans-serif;

// Variables
@import 'helpers/variables';
$fa-font-path:"../webfonts";
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
//

//// **************
// Utilities
// **************
@import "utilities/fonts";
@import "utilities/variables";
@import "utilities/responsive";
@import "utilities/color";

@import "mixins/flex";
@import "mixins/miscellaneous";

@import 'modules/eventos';
@import 'modules/blog';
@import 'modules/register';
@import 'modules/global';
@import 'modules/footer';





 
