a:hover,[type=checkbox]:not(:checked)+label:after,[type=checkbox]:checked+label:after,#main-nav .navbar-nav .dropdown-menu>li>a:hover,.signin-wrapper .bottom-links a,.signup-wrapper .bottom-links a,.forgetpassword-wrapper .bottom-links a,
.pricing-table-2 .plan.featured .plan-price:before,
.pagination ul li a:hover,.icon-box i,.icon-box2 i,
.features-tab li a.active .icon-wrapper,.features-tab li a:hover .icon-wrapper,
.contact-page .details-wrapper ul.contact-details li i,.bloglist-post-holder .bloglist-title a:hover,
.blog-post .post-content a.read-more{color:#3e4095}
.owl-dots .owl-dot.active span,
.loading .loading-effect .object,.btn-main,#backtotop a,.play-video,.pricing-table-2 .plan.featured .plan-price,
.pagination ul li a.current-page,.pagination ul li a.current-page:hover,.layout-switcher a:hover,
.layout-switcher a.active,.mm-counter{background:#3e4095}.btn-second{background:#a11f3c}
.overlay-gradient .slotholder:after,
.overlay-gradient:after,.blog-post .blog-thumb a:before,ul.blog-posts-widget .blog-content .blog-thumb a:before,
.celebrity-list-1 .celebrity-image a:before,.celebrity-grid-1 .celebrity-image a:before,
.bloglist-post-holder .bloglist-thumb-link .bloglist-post-thumbnail:after,.movie-box-1 .poster:before,
.movie-detail-intro2 .movie-poster:before{
    background:-webkit-gradient(linear,left top,left bottom,from(#a11f3c),to(#3e4095));
    background:-webkit-linear-gradient(bottom,#3e4095 0%,#a11f3c 100%);
    background:-o-linear-gradient(bottom,#3e4095 0%,#a11f3c 100%);
    background:linear-gradient(to bottom,#a11f3c 0%,#3e4095 100%)}


a, a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
    color: inherit;
}
body, body>.wrapper, header.header, html {
    background: #fff;
}

a:focus, a:hover, a:visited {
    text-decoration: none!important;
    outline: 0!important;
}


#backtotop a, .owl-nav.disabled+.owl-dots, .play-video, .social-btn-roll-icon {
    text-align: center;
}

.owl-dots {
    margin-top: 30px;
}
.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #ddd;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%}
.owl-dots .owl-dot.active span {
    -webkit-box-shadow: 0 0 0 4px rgba(147, 82, 179, .3);
    -moz-box-shadow: 0 0 0 4px rgba(147, 82, 179, .3);
    box-shadow: 0 0 0 4px rgba(147, 82, 179, .3);
}
.hover-link:after {
    content: '\f0c1';
    font-family: fontawesome;
    color: #f6f6f6;
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}
.hover-link:hover:after {
    opacity: .7;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
.btn, .play-video {
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

#backtotop {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    bottom: 25px;
    right: 25px;
    z-index: 999;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
    transform: scale(.7);
}
#backtotop a:after, .play-video {
    position: relative;
    display: block;
}
#backtotop.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
#backtotop a {
    color: #fff;
    text-decoration: none;
    border: 0;
    display: block;
    width: 46px;
    height: 46px;
    opacity: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 26px;
}
#backtotop a:after {
    content: "\f106";
    font-family: FontAwesome;
    top: 50%;
    -webkit-transform: translateY(-55%);
    -moz-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    -o-transform: translateY(-55%);
    transform: translateY(-55%);
}
.play-video {
    height: 60px;
    width: 60px;
    line-height: 60px;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 10;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.play-video:hover {
    color: #fff;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    -moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
}
.play-video i {
    margin-left: 4px;
}

.top-movies2 {
    margin-top: -150px;
    z-index: 99;
}
.top-movies2 .movie-box-4 .listing-image {
    max-height: 300px;
}
.top-movies2 .movie-box-4 .listing-content {
    width: 100%}

.movie-box-1, .movie-box-1 .poster {
    position: relative;
}
.movie-box-1 .poster:before {
    position: absolute;
    display: block;
    bottom: 0;
    z-index: 8;
    opacity: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.movie-box-1:hover .poster:before {
    opacity: .5;
}
.movie-box-1 .poster:after {
    position: absolute;
    display: block;
    bottom: 0;
    z-index: 9;
    background: -webkit-linear-gradient(bottom, rgba(35, 35, 37, .9) 0, rgba(35, 35, 37, .5) 35%, rgba(22, 22, 23, 0) 60%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(bottom, rgba(35, 35, 37, .9) 0, rgba(35, 35, 37, .5) 35%, rgba(22, 22, 23, 0) 60%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(35, 35, 37, .9) 0, rgba(35, 35, 37, .5) 35%, rgba(22, 22, 23, 0) 60%, rgba(0, 0, 0, 0) 100%);
}
.movie-box-2 .listing-image:after, .movie-box-2 .listing-image:before, .movie-box-4 .listing-image:after, .movie-box-4 .listing-image:before, .movie-detail-intro:before, .movie-list-1 .listing-image:after, .movie-list-1 .listing-image:before {
    content: ''}
.movie-box-1 .poster img {
    width: 100%}
.movie-box-1 .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 12;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.movie-box-1 .movie-details, .movie-box-1 .stars, .movie-box-2 .stars {
    z-index: 10;
    width: 100%;
    text-align: center;
}
.movie-box-1 .buttons .play-video {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.movie-box-1:hover .buttons .play-video {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px transparent;
    -moz-box-shadow: 0 0 0 10px transparent;
    box-shadow: 0 0 0 10px transparent;
}
.movie-box-1:hover .buttons .play-video:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    -moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
}
.movie-box-1 .movie-details {
    position: absolute;
    bottom: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0;
    visibility: hidden;
}
.movie-box-1:hover .movie-details {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
}
.movie-box-1 .movie-details .movie-title {
    margin: 0;
    color: #fff;
}
.movie-box-1 .movie-details .released {
    display: block;
    color: rgba(255, 255, 255, .7);
    font-weight: 400;
    padding-top: 20px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}
.movie-box-1:hover .movie-details .released {
    padding-top: 0;
}
.movie-box-1 .stars {
    position: absolute;
    top: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0;
    visibility: hidden;
}
.movie-box-1:hover .stars {
    top: 30px;
    opacity: 1;
    visibility: visible;
}
.movie-box-1 .stars .rating {
    color: #ffc741;
}
.movie-box-1 .stars span {
    display: block;
    color: rgba(255, 255, 255, .7);
    font-weight: 400;
    padding-top: 20px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}
.movie-box-1:hover .stars span {
    padding-top: 0;
}
.movie-box-2 {
    background: #343a40;
    border-radius: 5px;
    overflow: hidden;
}
.movie-box-2 .listing-image {
    position: relative;
    max-height: 250px;
    overflow: hidden;
}
.movie-box-2 .listing-image:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #343a40;
    opacity: .6;
}
.movie-box-2 .listing-image:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: -webkit-linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
    background: -o-linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
    background: linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
}
.movie-box-2 .listing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-box-2 .stars {
    position: absolute;
    left: 0;
    bottom: 10px;
}
.movie-box-2 .stars .rating {
    color: #ffc741;
}
.movie-box-2 .listing-image .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 12;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.movie-box-2 .listing-image .play-btn .play-video {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.movie-box-2:hover .listing-image .play-btn .play-video {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px transparent;
    -moz-box-shadow: 0 0 0 10px transparent;
    box-shadow: 0 0 0 10px transparent;
}
.movie-box-2:hover .listing-image .play-btn .play-video:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    -moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
}
.movie-box-2 .listing-image .buttons {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    color: #fff;
}
.movie-box-2 .listing-image .buttons a {
    font-size: 18px;
    opacity: .5;
}
.movie-box-2:hover .listing-image .buttons a {
    opacity: 1;
}
.movie-box-2 .listing-image .buttons .like {
    position: absolute;
    left: 20px;
    top: 0;
}
.movie-box-2 .listing-image .buttons .share {
    position: absolute;
    right: 20px;
    top: 0;
}
.movie-box-2 .listing-content {
    padding: 20px;
    text-align: center;
}
.movie-box-2 .listing-content .title {
    color: #fff;
    font-weight: 500;
}
.movie-box-3 {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .1);
    -moz-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .1);
    box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .1);
    transition: all .3s ease;
}
.movie-box-4, .movie-list-1 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
}
.celebrity-list-1 .celebrity-image a:before, .movie-box-4 .listing-image:before {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.movie-box-3:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.movie-box-3 .listing-image {
    max-height: 350px;
    overflow: hidden;
}
.movie-box-3 .listing-image img {
    width: 100%}
.movie-box-3 .listing-content {
    position: relative;
    padding: 30px;
}
.movie-box-3 .play-btn {
    position: absolute;
    top: -30px;
    right: 30px;
}
.movie-box-3 .play-btn a {
    -webkit-box-shadow: 0 10px 30px 0 rgba(147, 82, 179, .7);
    -moz-box-shadow: 0 10px 30px 0 rgba(147, 82, 179, .7);
    box-shadow: 0 10px 30px 0 rgba(147, 82, 179, .7);
}
.movie-box-3 .title {
    padding: 0;
    font-size: 1.9em;
    font-weight: 500;
}
.movie-box-3 .stars {
    font-size: 14px;
    padding: 10px 0;
    clear: both;
}
.movie-box-3 .stars i {
    color: #ffc741;
}
.movie-box-3 .stars span {
    color: #999;
}
.movie-box-4 {
    position: relative;
    background: #343a40;
    border-radius: 5px;
}
.movie-box-4 .listing-image {
    position: relative;
    max-height: 400px;
    overflow: hidden;
}
.movie-box-4 .listing-image:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #343a40;
    opacity: .6;
    transition: all .3s ease;
}
.movie-box-4:hover .listing-image:before {
    opacity: .95;
}
.movie-box-4 .listing-image:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: -webkit-linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
    background: -o-linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
    background: linear-gradient(to top, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
}
.movie-box-4 .listing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-box-4 .stars {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    z-index: 10;
    text-align: center;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    opacity: 0;
}
.movie-box-4:hover .stars {
    bottom: 10px;
    opacity: 1;
    -webkit-transition: all .3s ease .6s;
    -moz-transition: all .3s ease .6s;
    -ms-transition: all .3s ease .6s;
    -o-transition: all .3s ease .6s;
    transition: all .3s ease .6s;
}
.movie-box-4 .listing-content, .movie-detail-intro2 .movie-poster:before {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
}
.movie-box-4 .stars .rating {
    color: #ffc741;
}
.movie-box-4 .listing-image .buttons {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    color: #fff;
}
.movie-box-4 .listing-image .buttons a {
    font-size: 18px;
    opacity: .2;
}
.movie-box-4:hover .listing-image .buttons a {
    opacity: 1;
}
.movie-box-4 .listing-image .buttons .like {
    position: absolute;
    left: 20px;
    top: 0;
}
.movie-box-4 .listing-image .buttons .share {
    position: absolute;
    right: 20px;
    top: 0;
}
.movie-box-4 .listing-content {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translateY(-50%) scale(2.5);
    -moz-transform: translateY(-50%) scale(2.5);
    -ms-transform: translateY(-50%) scale(2.5);
    -o-transform: translateY(-50%) scale(2.5);
    transform: translateY(-50%) scale(2.5);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    transition: all .6s ease;
    opacity: 0;
}
.movie-box-4:hover .listing-content {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
    opacity: 1;
}
.movie-box-4 .listing-content .title {
    color: #fff;
    font-size: 1.9em;
    font-weight: 500;
}
.movie-list-1 {
    display: block;
    background: #343a40;
    border-radius: 5px;
    width: 100%}
.celebrity-list-1, .movie-list-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.movie-list-1 .listing-container {
    display: flex;
    height: 300px;
}
.movie-list-1 .listing-image {
    flex: 4;
    position: relative;
}
.movie-list-1 .listing-image:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #343a40;
    opacity: .6;
}
.movie-list-1 .listing-image:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(to left, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
    background: -o-linear-gradient(to left, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
    background: linear-gradient(to left, rgba(52, 58, 64, 1) 0, rgba(52, 58, 64, 0) 100%);
}
.movie-list-1 .listing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-list-1 .stars {
    position: absolute;
    left: 30px;
    bottom: 10px;
    width: 100%;
    z-index: 10;
}
.movie-list-1 .stars .rating {
    color: #ffc741;
}
.movie-list-1 .listing-image .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 12;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.movie-list-1 .listing-image .play-btn .play-video {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.movie-list-1:hover .listing-image .play-btn .play-video {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px transparent;
    -moz-box-shadow: 0 0 0 10px transparent;
    box-shadow: 0 0 0 10px transparent;
}
.movie-list-1:hover .listing-image .play-btn .play-video:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    -moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
}
.movie-list-1 .listing-image .buttons {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 30px;
    color: #fff;
}
.movie-list-1 .listing-image .buttons a {
    font-size: 18px;
    margin-right: 10px;
    opacity: .5;
}
.movie-list-1:hover .listing-image .buttons a {
    opacity: 1;
}
.movie-list-1 .listing-content {
    flex: 6;
    position: relative;
    text-align: center;
}
.movie-list-1 .listing-content .inner {
    position: absolute;
    width: 100%;
    top: 50%;
    padding: 0 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.movie-list-1 .listing-content .inner .title {
    color: #fff;
    font-weight: 500;
}
.movie-list-2 {
    display: block;
    background: #343a40;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 80px;
}
main .col-md-12:last-of-type .movie-list-2 {
    margin-bottom: 30px;
}
.movie-list-2 .listing-container {
    display: flex;
    height: 300px;
}
.movie-list-2 .listing-image {
    flex: 4;
    position: relative;
}
.movie-list-2 .listing-image .img-wrapper {
    max-width: 250px;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0 auto;
    background: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, .2);
    box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
}
.movie-list-2 .listing-image .img-wrapper:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #343a40;
    opacity: .6;
}
.movie-list-2 .listing-image .img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%}
.movie-list-2 .listing-image .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 12;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.movie-list-2 .listing-image .play-btn .play-video {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.movie-list-2:hover .listing-image .play-btn .play-video {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px transparent;
    -moz-box-shadow: 0 0 0 10px transparent;
    box-shadow: 0 0 0 10px transparent;
}
.movie-list-2:hover .listing-image .play-btn .play-video:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    -moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
}
.movie-list-2 .listing-content {
    flex: 6;
    position: relative;
    text-align: center;
}
.movie-list-2 .listing-content .inner {
    position: absolute;
    width: 100%;
    top: 50%;
    padding: 0 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.movie-list-2 .listing-content .inner .title {
    color: #fff;
    font-weight: 500;
}
.movie-list-2 .listing-content .buttons {
    position: absolute;
    width: 100%;
    top: 10px;
    right: 10px;
    color: #fff;
    text-align: right;
}
.movie-list-2 .listing-content .buttons a {
    font-size: 18px;
    margin-right: 10px;
    opacity: .5;
}
.movie-list-2:hover .listing-content .buttons a {
    opacity: 1;
}
.movie-list-2 .stars {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 100%;
    z-index: 10;
    text-align: right;
    opacity: .5;
}
.movie-list-2 .stars .rating {
    color: #ffc741;
}
.movie-detail-intro {
    color: #fff;
    min-height: 600px;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.movie-detail-intro:before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
}
.movie-detail-intro .movie-details {
    position: absolute;
    bottom: 100px;
    z-index: 5;
}
.movie-detail-intro .title {
    color: #fff;
    font-weight: 500;
    padding: 0;
}
.movie-detail-intro ul.movie-subtext, .movie-detail-intro2 ul.movie-subtext {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
}
.movie-detail-intro ul.movie-subtext li, .movie-detail-intro2 ul.movie-subtext li {
    display: inline-block;
    opacity: .7;
}
.movie-detail-intro ul.movie-subtext li:after, .movie-detail-intro2 ul.movie-subtext li:after {
    content: '|';
    padding-left: 10px;
    padding-right: 4px;
}
.movie-detail-intro ul.movie-subtext li:last-child:after, .movie-detail-intro2 ul.movie-subtext li:last-child:after {
    display: none;
}
.movie-detail-intro .rate-movie, .movie-detail-intro2 .rate-movie {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    opacity: .5;
    text-align: center;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%}
.movie-detail-intro .rate-movie:hover, .movie-detail-intro2 .rate-movie:hover {
    opacity: 1;
}
.movie-detail-intro .rate-movie i, .movie-detail-intro2 .rate-movie i {
    font-size: 14px;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
}
.movie-detail-intro .rating i, .movie-detail-intro2 .rating i {
    color: #ffc741;
}
.movie-detail-intro .rating span, .movie-detail-intro2 .rating span {
    margin-left: 10px;
    opacity: .7;
}
.movie-detail-intro .play-video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    margin: 0 auto;
}
.movie-detail-intro2 {
    margin-top: -300px;
}
.movie-detail-intro2 .movie-poster {
    position: relative;
    float: left;
    margin-right: 50px;
    -webkit-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .25);
    -moz-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .25);
    box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, .25);
}
.movie-detail-intro2 .movie-poster:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0;
    z-index: 8;
    opacity: 0;
    transition: all .6s ease;
}
.movie-detail-intro2 .movie-poster:hover:before {
    opacity: .5;
}
.movie-detail-intro2 .movie-poster .play-video {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.movie-detail-intro2 .movie-poster:hover .play-video {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px transparent;
    -moz-box-shadow: 0 0 0 10px transparent;
    box-shadow: 0 0 0 10px transparent;
}
.movie-detail-intro2 .movie-poster:hover .play-video:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    -moz-box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
    box-shadow: 0 0 0 10px rgba(147, 82, 179, .4);
}
.movie-detail-intro2 .movie-details {
    float: left;
    margin-top: 50px;
    color: #fff;
}
.movie-detail-intro2 .movie-details .title {
    color: #fff;
    font-weight: 500;
    padding: 0;
}
.movie-detail-main .title {
    font-weight: 500;
}
.movie-detail-main ul.image-gallery {
    list-style: none;
    padding: 0;
}
.movie-detail-main ul.image-gallery li {
    position: relative;
    display: inline-block;
    width: 32%;
    margin: 0 5px 5px 0;
}
.movie-detail-main ul.image-gallery li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}
.movie-detail-main ul.image-gallery li:hover a:before {
    opacity: .6;
}
.movie-detail-main ul.image-gallery li a:after {
    content: '\e023';
    font-family: simple-line-icons;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.movie-detail-main ul.image-gallery li:hover a:after {
    opacity: .8;
}
.movie-detail-main .sidebar .widget {
    border: 1px solid #ebebeb;
    padding: 35px;
}
.movie-detail-main .sidebar .widget-movie-cast .cast-wrapper, .movie-detail-main .sidebar .widget-movie-details ul {
    list-style: none;
    padding: 0;
}
.movie-detail-main .sidebar .widget-movie-cast .cast-wrapper li {
    margin-bottom: 20px;
}
.movie-detail-main .sidebar .widget-movie-cast .cast-wrapper img {
    width: 60px;
    display: inline-block;
    margin-right: 20px;
}
.movie-detail-main .sidebar .widget-movie-cast .cast-wrapper .name {
    display: inline-block;
    font-weight: 500;
}